.text {
  .alert-ios .alert-radio-label {
    white-space: pre-wrap !important;
  }
  .alert-md .alert-radio-label {
    white-space: pre-wrap !important;
  }
  .alert-wp .alert-radio-label {
    white-space: pre-wrap !important;
  }
}
.color {
  color: white;
  background-color: #36abe0;
  border-radius: 10px;
}
