.color {
  color: #44ec62;
}
.text {
  .alert-ios .alert-radio-label {
    white-space: pre-wrap !important;
  }
  .alert-md .alert-radio-label {
    white-space: pre-wrap !important;
  }
  .alert-wp .alert-radio-label {
    white-space: pre-wrap !important;
  }
}
