<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Trámites y Documentos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card>
    <ion-item>
      <ion-icon name="document" slot="start"></ion-icon>
      <ion-label>MICROSOFT TEAMS ESTUDIANTES</ion-label>
      <ion-button fill="outline" slot="end"  (click)="Open('GTE')">VER</ion-button>
    </ion-item>
    <ion-card-content>
       Tutorial del uso de Microsoft Teams para estudiantes. 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="document" slot="start"></ion-icon>
      <ion-label>MICROSOFT TEAMS MÓVIL</ion-label>
      <ion-button fill="outline" slot="end"  (click)="Open('GTM')">VER</ion-button>
    </ion-item>
    <ion-card-content>
       Tutorial del uso de Microsoft Teams Móvil. 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="document" slot="start"></ion-icon>
      <ion-label>MICROSOFT TEAMS INVITADO</ion-label>
      <ion-button fill="outline" slot="end"  (click)="Open('GIE')">VER</ion-button>
    </ion-item>
    <ion-card-content>
       Tutorial del uso de Microsoft Teams Invitado.
    </ion-card-content>
  </ion-card>  

  <ion-card>
    <ion-item>
      <ion-icon name="document" slot="start"></ion-icon>
      <ion-label>PLATAFORMA MOODLE ESTUDIANTES</ion-label>
      <ion-button fill="outline" slot="end"  (click)="Open('GME')">VER</ion-button>
    </ion-item>
    <ion-card-content>
       Tutorial del uso de la plataforma moodle estudiantes.
    </ion-card-content>
  </ion-card>  
  </ion-content>


  <!-- <div class="ion-padding">
    <ion-button
    (click)="
    download(
    'https://tarija.upds.edu.bo/ViePdF/upds.pdf',
    'UPDS'
    )
    "
    >Click to View Doc</ion-button
    >
    </div> -->
