<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Redes Sociales</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
     <ion-col> <img class="upds" src="../../assets/imgs/L.png" alt=""></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img class="pagina" src="../../assets/imgs/iconpagweb.png" alt="" (click)="openWeb('https://www.upds.edu.bo/sede/tarija/')" tappable>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        
      </ion-col>
      <ion-col>
        <img src="../../assets/imgs/FACEBOOK.png" alt="" (click)="openWeb('https://www.facebook.com/universidadprivadadomingosaviotarija')" tappable>
      </ion-col>
      <ion-col size="3">
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="../../assets/imgs/YOUTUBE.png" alt="" (click)="openWeb('https://www.youtube.com/channel/UCf2Y_ZZGKCje37gLDIbEGzA')" tappable>
      </ion-col>
      <ion-col>
        <img src="../../assets/imgs/INSTAGRAM.png" alt="" (click)="openWeb('https://www.instagram.com/upds_tarija/')" tappable>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <img src="../../assets/imgs/C_opt.png" alt="" (click)="openWeb('https://twitter.com/UPDS_Tarija')" tappable>
      </ion-col>
      <ion-col>
        <img src="../../assets/imgs/K.png" alt="" (click)="openWeb('https://es.pinterest.com/udomingosavio/')" tappable>
      </ion-col>
    </ion-row> -->
    
  </ion-grid>
</ion-content>

