
:root {
    --ion-color-primary: #006600;
  }
.title {
    background-color: #00377c;
    text-transform: uppercase;
    color:#FFF;
}
h2{
    font-size: 1.1em;
    padding: 6px
}
.block-center{
    margin: 0 auto !important;
}