<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Contáctanos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Salir</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="openUrl('RG')">
      <ion-avatar slot="start" class="circle">
        <div class="ion-text-center margen"><ion-text color="light">
          RG
        </ion-text></div>
      </ion-avatar>
      <ion-label>
        <h2>REGISTRO</h2>
        <p>Programación de materias</p>
      </ion-label>
    </ion-item>
    <ion-item  (click)="openUrl('CJ')">
      <ion-avatar slot="start" class="circle">
        <div class="ion-text-center margen"><ion-text color="light">
          CJ
        </ion-text></div>
      </ion-avatar>
      <ion-label>
        <h2>CAJA</h2>
        <p>Pagos y servicios</p>
      </ion-label>
    </ion-item>
  <!-- <ion-item (click)="chat()"> -->
   <ion-item (click)="openUrl('ST')">
      <ion-avatar slot="start" class="circle">
        <div class="ion-text-center margen"><ion-text color="light">
          ST
        </ion-text></div>
      </ion-avatar>
      <ion-label >
        <h2>SOPORTE TÉCNICO</h2>
        <p class="ion-text-wrap">Soporte de aplicaciones de la institución</p>
      </ion-label>
    </ion-item>
    <ion-item (click)="openUrl('PV')">
      <ion-avatar slot="start" class="circle">
        <div class="ion-text-center margen"><ion-text color="light">
          PV
        </ion-text></div>
      </ion-avatar>
      <ion-label>
        <h2>PLATAFORMA VIRTUAL</h2>
        <p>Plataforma estudial (Moodle)</p>
      </ion-label>
    </ion-item>
    <ion-item (click)="openUrl('MI')">
      <ion-avatar slot="start" class="circle">
        <div class="ion-text-center margen"><ion-text color="light">
          MI
        </ion-text></div>
      </ion-avatar>
      <ion-label>
        <h2>MARKETING E INFORMACIONES</h2>
        <p class="ion-text-wrap">Inscripciones e información en general</p>
      </ion-label>
    </ion-item>
  </ion-list>
 

</ion-content>
