<ion-header>
  <ion-toolbar color="primary">
    <form id=formId  #refForm="ngForm">
    <ion-searchbar #mainSearchbar  [ngModelOptions]="{standalone: true}" (ionInput)="searchItems($event)" [(ngModel)]="mysearch" placeholder="Buscar aqui..."   cancelButtonText="Cancelar" autocorrect="on" autocomplete="on" debounce="850" spellcheck="true" color="light"></ion-searchbar>
     </form>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-row *ngIf="empty">
    <ion-col class="empty">
      <ion-icon name="sad"></ion-icon> <br>
      <h2>No hay noticias</h2>
    </ion-col>
  </ion-row>
  <!-- <ion-virtual-scroll [items]="items" approxItemHeight="320px">
    <ion-card *virtualItem="let item; let itemBounds = bounds;" (click)="showNoticia(item.$key)">
      <ion-avatar item-left>
        <ion-img *ngIf="item.image_main" width="100%" [src]="item.image_main.url" cache="true"></ion-img>
        <div *ngIf="!item.image_main" class="circle">
          {{item.title.substring(0, 1).toUpperCase()}}
        </div>
      </ion-avatar>
    <ion-card-header>
      <ion-card-title>{{ item.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{ item.text }}</ion-card-content>
    </ion-card>
    <ion-note *ngIf="item.priority!='0'"  item-right>
      <ion-icon name="star" color="gold"></ion-icon>
    </ion-note>
  </ion-virtual-scroll> -->
  <ion-virtual-scroll [items]="items" approxItemHeight="91px" no-lines>
    <ion-item *virtualItem="let item" [ngClass]="{'blue-light':item.priority!='0'}"  (click)="showNoticia(item.key)">
      <ion-avatar item-left>
        <ion-img *ngIf="item.image_main" width="100%" [src]="item.image_main.url" cache="true"></ion-img>
        <div *ngIf="!item.image_main" class="circle">
          {{item.title.substring(0, 1).toUpperCase()}}
        </div>
      </ion-avatar>
      <h2>{{item.title}}</h2>
      <h3>{{item.text}}</h3>
      <p> {{item.timestamp | date:'EEE, dd MMM yyyy - HH:mm'}} Hrs.</p>
      <ion-note *ngIf="item.priority!='0'"  item-right>
        <ion-icon name="star" color="gold"></ion-icon>
      </ion-note>
    </ion-item>
  </ion-virtual-scroll>
</ion-content>
