<ion-header>
  <ion-toolbar color="primary">
    <ion-title>UPDS TARIJA</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="openPage('/notificaciones')">
        <ion-badge item-left color="danger" *ngIf="badge">NUEVA</ion-badge>
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <div class="ion-text-center">
        <ion-buttons end>
            <button ion-button icon-only (click)="openPage('NotificacionesPage')">
              <ion-badge item-left color="red" *ngIf="badge" >NUEVA</ion-badge>
              <ion-icon name="notifications"></ion-icon>
            </button>
          </ion-buttons>
    </div> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-list>
    <ion-item color="green" *ngIf="update && !loading" >
      Nueva Actualización <button ion-button color="light" outline item-right (click)="showAlert('Nueva Actualización',update.novedades,true)">Más info</button>
    </ion-item>
    <ion-item color="green" *ngIf="loading">
      <ion-spinner color="light" item-left></ion-spinner> Descargando...
    </ion-item>
  </ion-list> -->
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <img
          src="../../assets/imgs/ubicacion.png"
          alt=""
          (click)="openWeb('https://www.360virtualbo.com/tour/educacion/updstarija/')"
          tappable
        />
      </ion-col>
      <ion-col col-6>
        <img
          src="../../assets/imgs/iconcom.png"
          alt=""
          (click)="openPage('/noticias')"
          tappable
        />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-self-center" col-6>
        <img
          src="../../assets/imgs/plataforma.png"
          alt=""
          (click)="openWeb('https://virtual.upds.edu.bo')"
        />
      </ion-col>
      <ion-col col-6>
        <img
          src="../../assets/imgs/iconupds.png"
          alt=""
          (click)="openWeb('https://portal.upds.edu.bo/updsnet')"
          tappable
        />
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- <ion-col col-6>
        <img src="../../assets/imgs/3_opt.png" alt="" (click)="openPage('/eventos')" tappable>
      </ion-col> -->
      <ion-col col-6>
        <img
          src="../../assets/imgs/tutoriales.png"
          alt=""
          (click)="openPage('/documento')"
        />
      </ion-col>
      <ion-col col-6>
        <img
          src="../../assets/imgs/iconbiblio.png"
          alt=""
          (click)="openWeb('https://www.elibro.net/es/lc/upds/')"
          tappable
        />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <img
          src="../../assets/imgs/iconredes.png"
          alt=""
          (click)="openPage('/redes')"
          tappable
        />
      </ion-col>
      <ion-col col-6>
        <img
          src="../../assets/imgs/updsreponde.png"
          alt=""
          (click)="openPage('/home-consulta')"
          tappable
        />
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col col-6>
        <img src="assets/imgs/tigo.png" alt="" (click)="openExternalWeb(is_android?'https://goo.gl/db9TTz':'https://itunes.apple.com/us/app/tigo-shop-bolivia/id1150810878')" tappable>
      </ion-col>
      <ion-col col-6>
        <img src="assets/imgs/money.png" alt="" (click)="openExternalWeb(is_android?'https://goo.gl/rFGp4k':'https://itunes.apple.com/ve/app/tigo-money-bo/id1004658616')" tappable>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>
<ion-footer>
  <div
    *ngIf="loaded<5"
    style="height: 54px; text-align: center; padding-top: 15px"
  >
    <ion-spinner></ion-spinner>
  </div>
  <ion-slides
    autoplay="10000"
    pager
    paginationType="progress"
    loop
    *ngIf="loaded>=5"
  >
    <ion-slide>
      <img
        *ngIf="banner_1=='not_found'"
        class="upds"
        src="../../assets/imgs/L.png"
        alt=""
      />
      <img
        *ngIf="banner_1!=null && banner_1!='not_found'"
        (click)="openExternalWeb(banner_1.link)"
        [src]="banner_1.image"
        height="80px"
        tappable
      />
    </ion-slide>
    <ion-slide>
      <img
        *ngIf="banner_2=='not_found'"
        class="upds"
        src="../../assets/imgs/L.png"
        alt=""
      />
      <img
        *ngIf="banner_2!=null && banner_2!='not_found'"
        (click)="openExternalWeb(banner_2.link)"
        [src]="banner_2.image"
        height="80px"
        tappable
      />
    </ion-slide>
    <ion-slide>
      <img
        *ngIf="banner_3=='not_found'"
        class="upds"
        src="../../assets/imgs/L.png"
        alt=""
      />
      <img
        *ngIf="banner_3!=null && banner_3!='not_found'"
        (click)="openExternalWeb(banner_3.link)"
        [src]="banner_3.image"
        height="80px"
        tappable
      />
    </ion-slide>
    <ion-slide>
      <img
        *ngIf="banner_4=='not_found'"
        class="upds"
        src="../../assets/imgs/L.png"
        alt=""
      />
      <img
        *ngIf="banner_4!=null && banner_4!='not_found'"
        (click)="openExternalWeb(banner_4.link)"
        [src]="banner_4.image"
        height="80px"
        tappable
      />
    </ion-slide>
    <ion-slide>
      <img
        *ngIf="banner_5=='not_found'"
        class="upds"
        src="../../assets/imgs/L.png"
        alt=""
      />
      <img
        *ngIf="banner_5!=null && banner_5!='not_found'"
        (click)="openExternalWeb(banner_5.link)"
        [src]="banner_5.image"
        height="80px"
        tappable
      />
    </ion-slide>
  </ion-slides>
</ion-footer>
