<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{noticia.category | uppercase}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-text class="ion-text-center">
    <h6>{{noticia.title}}</h6>
  </ion-text>
  <!-- <h4 text-left padding-left padding-right>
     {{noticia.title}}
  </h4> -->
  <small class="ion-padding-left ion-padding-right">( {{noticia.timestamp | date:'EEE, dd MMM yyyy - HH:mm'}} Hrs. )</small>
  <ion-slides  *ngIf="noticia.images" pager style="height: 250px;background-color: #fff;">
    <ion-slide  *ngFor="let img of images">
      <img [src]="img.url" alt="" imageViewer>
    </ion-slide>  
  </ion-slides>
  
  <div class="foot-img" *ngIf="noticia.foot" >
    {{noticia.foot}}
  </div>
  
  <p class="ion-text-justify" padding>
    {{noticia.text}}
  </p>
  <span *ngIf="noticia.url" text-wrap padding class="pre-wrap">Más información en <a (click)="openWeb(noticia.url)">{{noticia.url}}</a> </span>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button  color="primary" (click)="like(noticia.key)">
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>
      <div>{{noticia.likes}} Me Gusta </div>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="share(noticia.text,noticia.img_main)">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
      <div>{{noticia.likes}} Compartir</div>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
